div.chart {
    div.row {
        margin-bottom: 80px;

        &:not(:first-child) {
            display: flex;
            justify-content: space-between;
    
            @media(max-width: 991px) {
                flex-direction: column;
            }
        }
    }
}