div.slick-slider {
	position: relative;
	top: -110px;

	@media (max-width: 991px) {
		top: -30px;
	}
	
	div.slick-list {
		height: 225px;

		@media (max-width: 991px) {
			height: 250px;
		}
	}
}

div.accordion {
	top: -90px;

	@media (max-width: 991px) {
		top: -40px;
	}
}