div.step {
    position: relative;    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;

    h1 {
        font-weight: 300;
    }
    h4 {
        font-weight: 300;
        width: 55%;
        text-align: center;
    }
}